<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="104430cd-bfef-4f87-bd53-11ebfdade5e8"
    Publisher="CN=Jarno Beerten"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="104430cd-bfef-4f87-bd53-11ebfdade5e8" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>FireBrowser</DisplayName>
    <PublisherDisplayName>Jarno Beerten</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="FireBrowser.App">
      <uap:VisualElements
        DisplayName="FireBrowser"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="FireBrowser"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
			<uap5:Extension
		Category="windows.startupTask"
		Executable="FireBrowser.exe"
		EntryPoint="FireBrowser.App">
				<uap5:StartupTask
				  TaskId="FireBrowserStartUp"
				  Enabled="true"
				  DisplayName="FireBrowser" />
			</uap5:Extension>
			<uap:Extension Category="windows.protocol">
				<uap:Protocol Name="http">
					<uap:Logo>Assets\logo.png</uap:Logo>
				</uap:Protocol>
			</uap:Extension>
			<uap:Extension Category="windows.protocol">
				<uap:Protocol Name="https">
					<uap:Logo>Assets\logo.png</uap:Logo>
				</uap:Protocol>
			</uap:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer"/>
    <uap:Capability Name="userAccountInformation"/>
  </Capabilities>
</Package>